<div class="d-flex flex-column">
	<div class="mb-1">
		<label for="x">X:</label>
		<input type="text" name="x" id="x" value="@ViewBag.x" />
	</div>
	<div class="mb-1">
		<label for="y">Y:</label>
		<input type="text" name="y" id="y" value="@ViewBag.y" />
	</div>
	<div class="mb-2">
		<h6 for="result">Result:</h6>
		<input class="mx-3" type="text" name="result" id="result" value="@ViewBag.z" readonly />
	</div>
</div>
