    <a href="https://localhost:7044?press=%2B&x=0&y=0">Sum</a> 
    <a href="https://localhost:7044?press=%2D&x=0&y=0">Sub</a> 
    <a href="https://localhost:7044?press=%2A&x=0&y=0">Mul</a> 
    <a href="https://localhost:7044?press=%2F&x=0&y=0">Div</a>
