<div>
    <h1 class="text-center">Изменить пароль</h1>
    <form method="post" action="/Admin/ChangePassword" class="mx-auto w-25">
        <div>
            <div class="form-group">
                <label>Старый пароль:</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="form-group mt-1">
                <label>Новый пароль:</label>
                <input type="password" class="form-control" name="newPassword" />
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Изменить</button>

        @await Html.PartialAsync("ErrorsBlock")
    </form>
</div>