@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Parm/Index</title>
</head>
<body>
	<h1>Parm/Index</h1>
	<p> string: Id = @ViewBag.Id </p>
</body>
</html>