@{
	Layout = null;
}

<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>Index</title>
	</head>
	<body>
		<h1>Start/Index</h1>

		<p><a href="@Url.Action("One", "Start")">One</a></p>
		<p><a href="@Url.Action("Two", "Start")">Two</a></p>
		<p><a href="@Url.Action("Three", "Start")">Three</a></p>
    
</body>
</html>
